.Tutorial{
    background: var(--_light-green);
}
.Tutorial .header-text{
    color: var(--_dark-green);
    font-family: var(--_ultra);
}
.Tutorial .card-container{
    background: var(--_pure-white);
}
.Tutorial .img-container{
    background: var(--_light-blue);
}
/* .Tutorial .text-container{
    font-family: var(--_inter);
} */
.Tutorial .inter-font{
    font-family: var(--_inter);
}